@import url("/static/styles.css");

:root {
  --md-bg: #0a0f1c;
  --md-bg-alt: #111827;
  --md-bg-alt-soft: #1f2937;
  --md-border-subtle: #4b5563;
  --md-text-main: #faf7f3;
  --md-text-muted: #cdd2db;

  --md-h1: #8b5cf6;
  --md-h2: #3b82f6;
  --md-h3: #10b981;    
  --md-aqua: #22d3ee;
  --md-blue: #60a5fa;
  --md-purple: #c084fc;

  --md-link: #60a5fa;
  --md-link-hover: #93c5fd;
  --md-code: #f59e0b;
}

.tree-item.folder .label {
  color: var(--md-text-muted);
}

.tree-item.note .label {
  color: var(--md-text-main);
}

div.mermaid[data-processed="true"] {
  background-color: #c0c8db;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--md-border-subtle);
}