@import url("/static/styles.css");

:root {
  --md-bg: #f5f5f7;
  --md-bg-alt: #ffffff;
  --md-bg-alt-soft: #e5e7eb;
  --md-border-subtle: #d1d5db;
  --md-text-main: #111827;
  --md-text-muted: #6b7280;
  --md-red: #b91c1c;
  --md-yellow: #ca8a04;
  --md-green: #15803d;
  --md-aqua: #0ea5e9;
  --md-blue: #1d4ed8;
  --md-purple: #7c3aed;
  --md-link: #2563eb;
  --md-link-hover: #1d4ed8;
  --md-code: #0f766e;
}
